.DS_Store

*.pbxuser
#*.perspective
#*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata/
*.xccheckout
*.xcbkptlist

*.xcuserstate

*.xcuserstate
ofxiOSCocosDenshionExample/emptyExample.xcodeproj/project.xcworkspace/xcshareddata
ofxiOSCocosDenshionExample/emptyExample.xcodeproj/project.xcworkspace
